.reqForm{
  display: flex;
  width: 100%;
  height: 25%;
  flex-direction: column;
  margin: 10px;
}

.radioWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px;

  label{
    width: 75px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    margin: 3px;

    input{
      display: none;
    }
  }
}

label > input:checked{
  background-color: lightblue;
}

.result{
  height: 200px;
  width: 400px;
}